node_modules
infra/*.tfvars
infra/.terraform/
infra/terraform.tfstate
infra/terraform.tfstate.backup
.DS_Store
.next
out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
tsconfig.tsbuildinfo
test-results/
playwright-report/
